.centered-logo {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

body {
  background-image: url('../images/shipbackground.jpg');
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.padded {
  padding-bottom: 80px;
}
h4 {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 300px;
  color: white;
}

h1 {
  font-size: 40px;
  left: 50%;
  top: 10%;
  padding-top: 50px;
  position: fixed;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

h3 {
  padding-top: 50px;
  font-size: 20px;
}

p {
  padding-top: 50px;
  margin-bottom: 0;
  font-size: 20px;
}
